<div id="<%= dom_id land %>">
  <p>
    <strong>Site:</strong>
    <%= land.site %>
  </p>

  <p>
    <strong>Site path:</strong>
    <%= land.site_path %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= land.price %>
  </p>

</div>
